<html>
  <head>
    <title>TODO List (CRUD) using REDIS</title>
    <style>
        .newspaper {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>TODO List (CRUD) using REDIS</h1>
    </div>
    <div class="newspaper">
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset>
                <legend>Create Task</legend>
                {{ cform.title.label }}<br>
                {{ cform.title }}<br>
                {{ cform.short_description.label }}<br>
                {{ cform.short_description }}<br>
                {{ cform.priority.label }}<br>
                {{ cform.priority }}<br><br>
                {{ cform.create }}
            </fieldset>
        </form>
        <form  method="POST">
            {{ uform.hidden_tag() }}
            <fieldset>
                <legend>Update Task</legend>
                {{ uform.key.label }}<br>
                {{ uform.key }}<br>
                {{ uform.title.label }}<br>
                {{ uform.title }}<br>
                {{ uform.short_description.label }}<br>
                {{ uform.short_description }}<br>
                {{ uform.priority.label }}<br>
                {{ uform.priority }}<br><br>
                {{ uform.update }}
            </fieldset>
        </form>
        <form method="POST">
            {{ dform.hidden_tag() }}
            <fieldset>
                <legend>Delete Task</legend>
                {{ dform.key.label }}<br>
                {{ dform.key }}<br>
                <br>OR<br><br>
                {{ dform.title.label }}<br>
                {{ dform.title }}<br><br>
                {{ dform.delete }}
            </fieldset>
        </form>
        <form method="POST">
            {{ reset.hidden_tag() }}
            <b>Reset All Data: </b> {{ reset.reset }}
        </form>
    </div>
    <div>
        <form method="POST">
            {{ m_form.hidden_tag() }}
            <fieldset>
                <legend>Create Two Tasks</legend>
                {{ m_form.title_first.label }}<br>
                {{ m_form.title_first }}<br>
                {{ m_form.short_description_first.label }}<br>
                {{ m_form.short_description_first }}<br>
                {{ m_form.priority_first.label }}<br>
                {{ m_form.priority_first }}<br><br>
                {{ m_form.title_second.label }}<br>
                {{ m_form.title_second }}<br>
                {{ m_form.short_description_second.label }}<br>
                {{ m_form.short_description_second }}<br>
                {{ m_form.priority_second.label }}<br>
                {{ m_form.priority_second }}<br><br>
                {{ m_form.create }}
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <b>Tasks List:</b><br><br>
    {% for i in keys %}
        {% if i.decode('UTF-8') !='id'%}
        Keys = {{ i.decode('UTF-8') }} <br>
        Title = {{ val[i.decode('UTF-8')]["title"] }}<br>
        Short Description = {{ val[i.decode('UTF-8')]["short_description"] }} <br>
        Priority = {{ val[i.decode('UTF-8')]["priority"] }}<br><br>
        <hr>
        {% endif %}
    {% endfor %}
  </body>
</html>
